body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-one, .line-two {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 15px;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.red {
    background-color: #d95980;
}

.green {
    background-color: #63aac0;
}

.yellow {
    background-color: #f99b45;
}

.purple {
    background-color: #ac25ac;
}

.flash {
    background-color: white;
    color: black;
}

.userflash {
    background-color: #00ff00; /* Flash green to indicate correct press */
    color: black;
}
